.container{
    width: 143px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FF868E;
    justify-content: center;
    border-radius: 10px;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: white;
}