.container{
    width: 138px;
    margin-top: 20px;
}

.containerCard{
    width: 100%;
    height: 198px;
    background-color: #B4B7FF;
    border-radius: 20px;
    border: 4px solid #FFFFFF99;
    box-sizing:  border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.containerBtn{
    height: 36px;
    width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #FF868E;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}


.containerBtn:hover{
    background-color: #FBE0DC;
    }

.containerBtn:active{
    background-color: #FF868E;
    
    .btn{
        color: white;
    }
}
    